<div class="container">

    <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-success">Add New Entry To Your Diary</div>
        <div class="card-body text-success">
          <h5 class="card-title">Diary Entry</h5>
          <i class="fa fa-plus fa-7x" aria-hidden="true"></i>

        </div>
        <div class="card-footer bg-transparent border-success"><button type="button" id="" class="btn btn-sm btn-outline-success">View Images</button></div>
      </div>

      <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-success">Add New Events To Your Diary</div>
        <div class="card-body text-success">
          <h5 class="card-title">Events Entry</h5>
          <i class="fa fa-plus fa-7x" aria-hidden="true"></i>

        </div>
        <div class="card-footer bg-transparent border-success"><button type="button" id="" class="btn btn-sm btn-outline-success">View Images</button></div>
      </div>

      <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-success">Add New Images For Your Diary</div>
        <div class="card-body text-success">
          <h5 class="card-title">Add To Images</h5>
          <i class="fa fa-plus fa-7x" aria-hidden="true"></i>

        </div>
        <div class="card-footer bg-transparent border-success"><button type="button" id="" class="btn btn-sm btn-outline-success">View Images</button></div>
      </div>

</div>

<div id="footer" class="container mt-4">
    <footer>
        All rights reserved for Abzed Only
    </footer>
</div>