<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Welcome, "User"</h1>
        <p class="lead">Share your life stories, adventures, new finding and soo much more and make this diary your own personal friend.</p>
        <hr class="my-4">
        <p>Your journey begins with a simple sentence. Create memories with a simple click</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">New Entry</a>
        </p>
      </div>

</div>